body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.navbar {
  height: 9vh;
  padding: 0 40px;
  background-color: rgb(44, 42, 42);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.navbar-link {
  margin-right: 80px;
  /* background-color: blue; */
}

.navbar-link a {
  margin-right: 40px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  transition: 0.5s ease;
  /* background-color: aqua; */
}

.navbar-link a:hover {
  color: white;
  /* background-color: black; */
  transform: scale(1, 1);
}

/* main-section */

.main-section {
  height: 63vh;
  padding: 100px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  background-color: rgb(120, 133, 100);
}

.main-section .container {
  /* background-color: blueviolet; */
  height: 58vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-section .container .section-1 {
  width: 40vw;
}

.main-section .container .section-1 h1 {
  line-height: 18px;
  color: rgb(44, 42, 42);
  font-size: 35px;
}

.main-section .container .section-1 .description {
  font-size: 20px;
  width: 25vw;
  /* font-weight: 100; */
  margin-bottom: 52px;
  color: rgb(215, 215, 215);
}

.main-section .container .btn-box {
  width: 30vw;
}

.main-section .container .btn-box .btn-1 {
  height: 40px;
  width: 130px;
  font-weight: 600;
  margin-right: 30px;
}

.main-section .container .btn-box .btn-2 {
  height: 40px;
  width: 200px;
  font-weight: 600;
  color: white;
  background-color: rgb(44, 42, 42);
}

.main-section .container .btn-box .btn-1:hover {
  color: white;
  background-color: rgb(84, 120, 84);
}

.main-section .container .btn-box .btn-2:hover {
  color: black;
  background-color: rgb(84, 120, 84);
}

.main-section .container .section-2 {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-start;
  /* background-color: blue; */
}

.main-section .container .section-2 .image {
  height: 55vh;
  width: 30vw;
  background-image: url(pfl.john.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 0 0 150px;
  border: 5px solid rgb(44, 42, 42);
  box-shadow: 10px -10px 10px rgb(44, 42, 42);
}

/* media */

@media (max-width: 1024px) {
  .navbar {
    padding: 0 30px;
  }

  .navbar-link a {
    font-size: 15px;
  }

  .navbar-link {
    margin-right: 27px;
  }

  .main-section {
    height: 58.1vh;
  }

  .main-section .container .section-1 h1 {
    font-size: 30px;
    line-height: 15px;
  }

  .main-section .container .section-1 .description {
    width: 33vw;
    font-size: 15.4px;
    margin-bottom: 60px;
  }

  .main-section .container .btn-box {
    width: 35vw;
    /* background-color: brown;  */
  }

  .main-section .container .btn-box .btn-1 {
    width: 110px;
  }
}

@media (max-width: 770px) {
  /* navbar */

  .navbar {
    padding: 0 20px;
  }

  .navbar-link {
    margin-right: 5px;
  }
  .navbar-link a {
    margin-right: 20px;
    font-size: 15px;
  }

  /* .main-section */

  .main-section {
    height: 58.1vh;
  }

  .main-section .container .section-1 {
    width: 45vw;
    /* background-color: burlywood; */
  }

  .main-section .container .section-1 h1 {
    font-size: 26px;
    line-height: 14px;
  }

  .main-section .container .section-1 .description {
    font-size: 15.4px;
  }

  .main-section .container .btn-box {
    display: flex;
    flex-direction: row;
    /* background-color: brown; */
  }

  .main-section .container .section-2 {
    width: 45vw;
    /* background-color: blue; */
  }

  .main-section .container .section-2 .image {
    height: 53vh;
    width: 35vw;
    border-radius: 0 0 0 100px;
  }
}

@media (max-width: 470px) {
  /* nav-bar */
  .navbar {
    padding: 0 30px;
  }

  .navbar-link {
    margin-right: 10px;
  }

  .navbar-link a {
    margin-right: 3px;
    font-weight: 600;
    font-size: 12px;
  }

  .main-section {
    height: 69.7dvh;
    padding-top: 30px;
  }

  .main-section .container {
    /* background-color: blueviolet; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .main-section .container .section-1 h1 {
    font-size: 22px;
    width: 75vw;
    line-height: 13px;
  }

  .main-section .container .section-1 .description {
    font-size: 12px;
    width: 75vw;
    margin-bottom: 35px;
    color: rgb(215, 215, 215);
  }

  .main-section .container .btn-box {
    width: 75vw;
    gap: 15px;
  }

  .main-section .container .btn-box .btn-1 {
    height: 35px;
    width: 120px;
  }

  .main-section .container .btn-box .btn-2 {
    height: 35px;
    width: 167px;
  }

  .main-section .container .section-2 {
    width: 80vw;
    /* height: 40vh;
    background-color: brown; */
  }

  .main-section .container .section-2 .image {
    height: 35vh;
    width: 77vw;
    border-radius: 0 0 0 70px;
  }
}

@media (max-width: 320px) {
  .main-section .container .btn-box .btn-1 {
    height: 35px;
    width: 120px;
  }

  .main-section .container .btn-box .btn-2 {
    height: 35px;
    width: 150px;
  }
}
